@model Bus.DomainModels.Trip
@{
    ViewData["Title"] = "Details";
}

<body style="
background-image:url('/images/pattern.jpg');
background-size:cover;
background-repeat:no-repeat;
background-position:center center">
</body>

<h1 style=" margin-left: 10px;">Details</h1>

@if (Model != null)
{
    <table class="table">

        <tr>
            <td>Trip Id</td>
            <td>S @Model.TripId</td>
        </tr>

        <tr>
            <td>Route Id</td>
            <td>R @Model.RouteId</td>
        </tr>

        <tr>
            <td>Bus Id</td>
            <td>B @Model.BusId</td>
        </tr>

        <tr>
            <td>Journey Date</td>
            <td>@Model.JourneyDate</td>
        </tr>

        <tr>
            <td>Available Seats</td>
            <td>@Model.AvailableSeats</td>
        </tr>

    </table>
    <a asp-action="Index" asp-controller="Schedule" class="btn btn-primary" style="margin-left: 12px;">Back to the list</a>
}
else
{
    <h5>@ViewBag.StatusCode</h5>
}

